@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Related story -->
<div class="container-fluid orange-bg">
	<div class="container">
		<div class="row section">
			<div class="col-md-12 blog-related">
				<a target="_blank" href="https://esbgo97.github.io/cv/">
					<p>Powered By <span class="font-italic">Edward Bustos</span> | &copy; 2023 </p>
				</a>
			</div>
		</div>
	</div>
</div>