@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ContactUs>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<!-- Main container -->

        <div class="container">
			<div class="row section">

				<!-- The Contact form -->
				<div class="col-md-6">
					@Model.Value("contactForm")
				</div>

				<!-- Contact details -->
				<div class="col-md-6 justify-content-center align-self-center">
					@Model.Value("bodyText")
				    
				</div>
			</div>
		</div>